<h1>Lucky bastards? (Alive in the books, maybe not on show?)</h1>

<ul>
	{{#each data}}
		<li>
			<h2>
				Name: {{name}}
			</h2>

			<p>Modeled survival chance: {{alive}}</p>

			<p>Alive on TV: {{tv_alive}}</p>

			<p>I like this character: {{like}}</p>

			<p>Age: {{age}}</p>


			<form action="/alive/{{this.id}}" method="POST">
				<button type="submit">Is alive on the TV show!</button>
			</form>
			<form action="/dead/{{this.id}}" method="POST">
				<button type="submit">Is dead on the TV show!</button>
			</form>
			<form action="/unknown/{{this.id}}" method="POST">
				<button type="submit">I don't know anything about this character!</button>
			</form>
			<form action="/like/{{this.id}}" method="POST">
				<button type="submit">I like this character!</button>
			</form>
			<form action="/dislike/{{this.id}}" method="POST">
				<button type="submit">I don't like this character!</button>
			</form>
			<!--form action="/update" method="POST" class="button-size">
				<input type="hidden" name="id" value="{{this.id}}" />
				<textarea type="text" name="plan" placeholder="plan">{{this.data}}</textarea>
				<button type="submit">Update Plan!</button>
			</form-->

		</li>
	{{/each}}
</ul>

<h2>Create a Plan</h2>
<form method="post" action="/" class="button-size">
	<textarea type="text" name="plan"></textarea>
	<button type="submit">Save Plan!</button>
</form>